<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @shopping_list.description %>
</p>


<%= link_to 'Edit', edit_shopping_list_path(@shopping_list) %> |
<%= link_to 'Back', shopping_lists_path %>
